@charset "ISO-8859-1";

body{
	margin: 0;
	}

	ul.menu{
	background-color: #11A6D0;
	margin: 0;
	}
	
	ul.menu li{
	list-style-type: none;
	display: inline-block;
	padding: 5px 15px;
	}
	
	ul.menu li a{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	}
	
	ul.menu li a:hover{
	background-color: white;
	color: black;
	}
	
	ul.menu li a:after{
	color: black;
	}
	
	
	ul.menu li a:active{
	background-color: #5c5552;
	color: black;
	}
	
	@media all and (max-width: 480px;) {
		ul.menu li{
			list-style-type: none;
			width: 100%;
		}
		ul.menu {
			padding-left: 0;
		}
	}