@charset "ISO-8859-1";

body{
		margin: 0;
	}

	.flex-container{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		flex-wrap: nowrap;
	}
	.Login-form div{
		padding: 0.2em;
		text-align: justify;
	}
	
	.Login-form div:nth-of-type(2) input{
		width: 80%;
	}
	
	.Login-form div:nth-of-type(3) textarea{
		inline-size: -webkit-fill-available;
		border-bottom: 1px solid gray;
	}
	
	.Login-form div:nth-of-type(4) select{
		width: 60%;
	}
	
	.Login-form div:nth-of-type(5) select{
		width: 72%;
	}
	
	.Login-form div label{
		width: 30%;
	}
	.Login-form div input[type=text]{
		/*width: 60%;*/
		border: none;
		border-bottom: 1px solid gray;
		
	}
	.Login-form div select{
		align-self: flex-end;
	}
	
	.Login-form div > input:focus, select:focus{
		outline: none;
		border-bottom: 2px solid red;
	}
	
	.Login-form div > textarea:focus{
		outline: none;
		border-bottom: 2px solid red;
	}
	
	@media all and (max-width: 500px){
		.flex-container{
			flex-direction: column;
		}
	}
	
	textarea{
		resize: none;
	}
	
	button, #naslov{
		border-radius: 50%;
	}