@charset "ISO-8859-1";

/* @import url("Layout.css"); */

/*@font-face{
	src: url('./fonts/SURVIVORdemo.ttf');
	font-family: Survivor;
}*/

/* h1{
	font-family: Survivor;
	animation-name: example01;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-transform-origin-x: left;
} */

/* h1:hover{ */
/* 	color: red; */
/* 	transition-duration: 2s; */
/* } */

@keyframes example{
	from{ color: black; }
	to{ color: purple; }
}

@keyframes example01{
	0%{ color: black;
		font-size: 3em;
		-webkit-opacity: 0;
		
		 }
	50%{ color: purple;
		font-size: 8em;
		animation-direction: reverse;
		-webkit-opacity: 1; }
	100%{ color: red;
		font-size: 1em;
		-webkit-opacity: 0; }
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 5fr;
	/*grid-template-rows: repeat(3, 1fr); ponavlja 3 puta*/
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.grid-container header{
	grid-column: 1/3;
	grid-row: 1;
}

.grid-container footer{
	grid-column: 1/3;
	grid-row: 3;
}